
<div class="container mt-4">
      <table class="table">
            <thead>
              <tr>
                <th scope="col">{{ "cart.number" | transloco }}</th>
                <th scope="col">{{ "cart.image" | transloco }}</th>
                <th scope="col">{{ "cart.name" | transloco }}</th>
                <th scope="col">{{ "cart.description" | transloco }}</th>
                <th scope="col">{{ "cart.price" | transloco }}</th>
                <th scope="col">{{ "cart.action" | transloco }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of products; let i = index">
                <th scope="row">{{i+1}}</th>
                <td><img src="{{ item.img }}" alt="product-image"></td>
                <td>{{item.productName}}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.price }}</td>
                <td><button (click)="onDelete(item.id)" class="btn btn-danger btn-sm">Del</button>
                </td>
              </tr>
            </tbody>
          </table>
          <button (click)="onPay()" class="btn btn-primary btn-sm">PAY!</button>
</div>
